.main{
        background-image: url(/assets/images/bg.jpg);
        font-family:'Times New Roman', Times, serif;
        width: 100%;
        height: 112vh;
        background-attachment: fixed;
        background-size: cover;
    
    
}

.signup{
    padding-top: 10%;
    height:200px;
}

.content{
    width: 350px;
    height:450px;
    margin:auto;
    background-color: white;
    border-radius: 3px;
}



h1{
    text-align: center;
    padding-top: 15px;
}
h4{
    text-align: center;
}

form{
    width: 300px;
    margin-left: 20px;
    
}

form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}
form input{

width: 100%;
padding: 7px;
border: none;
border: 1px solid gray;
border-radius: 6px;
outline: none;

}
input[type="button"]
{
    width: 320px;
    height:35px;
    margin-top: 20px;
    border: none;
    background-color: #49c1a2;
    color: white;
    font-size: 18px;


}

p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}

