<div class="main">

    <div class="signup">
    
        <div class="content">
            <h1>LOGIN</h1>
            <h4>WELCOME BACK</h4>
            <form>
                <label>Email</label>
                <input type="email" placeholder="">
                <label>Password</label>
                <input type="password" placeholder="">
                <input type="button" value="submit">
    
             <p>New user? <a routerLink="signup">Sign up</a></p>
    </form>
        </div>
            </div>
    </div>